/* From Uiverse.io by mrhyddenn */
.patient-modal-buttons {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.patient-modal-buttons::before,
.patient-modal-buttons::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.patient-modal-buttons::before {
  top: 0;
  border-bottom-width: 0;
}

.patient-modal-buttons::after {
  bottom: 0;
  border-top-width: 0;
}

.patient-modal-buttons:active,
.patient-modal-buttons:focus {
  outline: none;
}

.patient-modal-buttons:active::before,
.patient-modal-buttons:active::after {
  right: 3px;
  left: 3px;
}

.patient-modal-buttons:active::before {
  top: 3px;
}

.patient-modal-buttons:active::after {
  bottom: 3px;
}

.patient-modal-buttons_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.patient-modal-buttons_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.patient-modal-buttons_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.patient-modal-buttons_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.patient-modal-buttons_text {
  position: relative;
}

.patient-modal-buttons:hover {
  color: #0f1923;
}

.patient-modal-buttons:hover .patient-modal-buttons_sl {
  width: calc(100% + 15px);
}

.patient-modal-buttons:hover .patient-modal-buttons_lg::after {
  background-color: #fff;
}
